.container-fluid {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-image: url(0x.png);
  background-color: rgba(243, 142, 222, 0.659);
  justify-content: center;
  .mainbox {
    border-radius: 10px;
    border: 2px solid rgb(158, 7, 128);
    margin-top: 5%;
    height: 80vh;
    width: 45vw;
    background-color: rgba(220, 204, 216, 0.755);
    text-align: center; /* Center text horizontally */
    color: rgb(158, 7, 128); /* Set text color to white */
    font-size: 200%;
    font-family: Verdana, sans-serif;

      .container {
        justify-content: center;
        display: grid;
        grid-template-columns: repeat(3, 10vw);
        grid-template-rows: repeat(3, 10vw);
        font-family: Roboto, sans-serif;
        div {
          border: 1px dotted black;
          border-radius: 10px;
          .box {
            font-size: 3vw;
            cursor: pointer;
          }
          .box:hover {
            background-color: rgb(158, 7, 128);
            color: black;
          }
        }
      }
  }
}